@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D4EDDA;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    width: 280px; 
    text-align: center;
}


h2 {
    color: #2C6E49; 
    font-size: 20px; 
    font-weight: 600;
    margin-bottom: 12px;
}

label {
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    margin-top: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1.8px solid #A3D9A5; 
    border-radius: 6px;
    font-size: 13px;
    background: #F8FFF8; 
    transition: 0.3s;
}


input:focus, select:focus {
    border-color: #57A773;
    outline: none;
    background: #E7F5E7;
}


.btn {
    width: 100%;
    background: #2C6E49; 
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px; 
    font-weight: bold;
    border-radius: 6px;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #57A773;
}

.error {
    font-size: 11px;
    color: red;
    display: block;
    margin-top: 2px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}

.popup button {
    background: #2C6E49;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}

.popup button:hover {
    background: #57A773;
}
